@import "tailwindcss";

@theme {
  --color-primary: rgb(15 118 110);
  --color-primary-foreground: rgb(255 255 255);
  --color-secondary: rgb(202 138 4);
  --color-secondary-foreground: rgb(255 255 255);
}

:root {
  --background: 248 250 252;
  --foreground: 30 41 59;
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
}

/* تصغير الخطوط والمسافات تلقائياً في شاشات الجوال */
@media (max-width: 640px) {
  html {
    font-size: 14px !important;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
